<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/head') %>
</head>

<body>
    <header>
        <%- include('../../layout/header.ejs') %>
    </header>
    <div class="grass">
    
    </div>
    <main id="main-search">
        <form method="POST" action="/show">
            <h2>Health Issues</h2>
            <input class="search-input" type="text" name="disease" placeholder="Your Health Issues" required><br>
            <button type="submit">Search</button>
        </form>
    </main>
    <div class="grass">
    
    </div>
    <footer>
        <%- include('../../layout/footer.ejs') %>
    </footer>
</body>

</html>