<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head') %>
</head>

<body>
    <header>
        <%- include('.././layout/header.ejs') %>
    </header>
    <main>
        <h2>A group of students at LTUC College on the Programming Development Scholarship, offered by the Qudra 2 program</h2>
    </main>
    <footer>
        <%- include('.././layout/footer.ejs') %>
    </footer>
</body>

</html>