<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/head') %>
</head>

<body>
    <h1>dsfdsgvfd</h1>
    <img src="https://azluxuryhomeblog.files.wordpress.com/2014/06/oops.jpg?w=300" alt="">
</body>

</html>