<!-- <!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../layout/head.ejs') %>
    </head>

<body>
    <header>
        <%- include('../layout/header.ejs') %>


    </header>
    <main>
        <h1>
            Some Thing went wrong
        </h1>
    </main>
    <footer>
        <%- include('../layout/footer.ejs') %>
    </footer>
</body>

</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/modules.css">
    <title>Something Went Wrong</title>
</head>
<body>

    <main id="error-main">
        <h1>HERB REMEDY</h1>
        <h2>Something Went Wrong</h2>
       <img src="https://safetymanagementgroup.com/wp-content/uploads/2020/08/Oopsbutton.jpg" alt="check">
    </main>

</body>
</html>