<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello world</h1>
    <main>
        <section id="right-index">
            <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id mollitia minima natus quam sequi fugiat, aut illum impedit minus modi? Adipisci aliquam veniam rem quam? Officiis itaque nam at eveniet.</p></div>
            <div>img</div>
            <div><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque deleniti commodi quod illo omnis, natus adipisci, quas soluta, doloremque laborum vel saepe quasi earum quis ut consequatur quo ex fuga!</p></div>
            <div>img</div>
        </section>

        <section id="left-index">
            <h3>my collection</h3>

        </section>
    </main>
</body>
</html>