@import "reset.css";
@import "layout.css";
@import "modules.css";
* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url('../img/bg.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
}

#img-div {
    padding: 20px;
}

header nav ul {
    text-align: right;
    margin-right: 20px;
    margin-top: 15px;
}

header nav ul li {
    display: inline-block;
    list-style: none;
    padding: 25px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

.img-index {
    width: 250px;
    height: 250px;
}

#index-main {
    padding: 30px;
}

a {
    color: inherit;
}

#a,
#b {
    padding-top: 20px;
}

#b,
#c {
    line-height: 30px;
}

#c,
#d {
    padding-top: 30px;
    padding-left: 30px;
}

#right-index a {
    text-decoration: none;
    font-size: 20px;
    background-color: rgba(15, 224, 109, 0.671);
    color: whitesmoke;
    padding: 4px;
    border-radius: 4px;
}

#right-index a:hover {
    background-color: rgba(121, 202, 157, 0.671);
}

#index-main {
    /* box-sizing: border-box; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    height: 100vh;
    /* background-color: burlywood; */
}

#right-index {
    height: 600px;
    margin-top: 15%;
    margin-right: 2%;
    width: 50%;
    text-align: center;
}

#left-index {
    border-radius: 6px;
    margin-top: 23%;
    margin-left: 50px;
    margin-bottom: 300px;
    width: 50%;
    text-align: center;
    background-color: rgba(121, 202, 157, 0.671);
    width: 750px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
    box-shadow: 0px 6px 16px rgb(165, 162, 162);
}

img {
    border-radius: 8px;
}