@import "reset.css";
@import "layout.css";
@import "modules.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    background-image: url('../img/pexels-cottonbro-4273429\ \(1\).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

header {
    display: flex;
    justify-content: space-between;
    
    
}

header #img-div {
    padding: 20px;
}

header nav ul {
    text-align: right;
    margin-right: 20px;
    margin-top: 15px;
}

header nav ul li {
    display: inline-block;
    list-style: none;
    padding: 25px;
}

header nav ul li a {
    text-decoration: none;
    color: black;

}


#index-main {
    /* box-sizing: border-box; */
    display: flex;
    justify-content: center;
    align-items: center;  
    /* text-align: center; */
    height: 100vh;

    /* background-color: burlywood; */

}

#right-index {
    margin-top: 10%;
    height: 600px;
    width: 50%;
    text-align: center;
}


#left-index {
    margin-top: 20%;
    height: 50%;
    width: 50%;
    text-align: center;
    background-color: rgba(121, 202, 157, 0.671);
    height: 100vh;
    width: 750px;
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    grid-template-rows: 300px 300px  ;
    
}

#search-nav {
    color: rgb(121, 202, 157);

}

#left-index #a {
    grid-column: 1/2;
}
#left-index #b { 
    
    grid-column: 2/3;

}

/* #left-index #a
#left-index #a  */

.img-index {
    width: 300px;
    height: 300px;
}