<img src="https://files.slack.com/files-pri/TNGRRLUMA-F01U6LB7CBB/herbal_remedy.png" alt="check" width="20%">
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-instagram"></a>
<a href="#" class="fa fa-youtube"></a>
<a href="https://github.com/crud-301/herbal-remedy.git" class="fa fa-github"></a>
<a href="#" class="fa fa-linkedin"></a>
<h2>A group of students at LTUC College on the Programming Development Scholarship, offered by the Qudra 2 program</h2>
Copyright &copy Trademark by crud-301 2021 All rights reserved