<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
        .fa {
          padding: 20px;
          font-size: 30px;
          width: 30px;
          text-align: center;
          text-decoration: none;
          margin: 5px 2px;
          border-radius: 50%;
        }
        
        .fa:hover {
            opacity: 0.7;
        }
        
        .fa-github {
            background: #131212;
          color: white;
        }
        
        .fa-linkedin {
            background: #131212;
          color: white;
        }
        .fa-instagram {
            background: #131212;
           color: white;
        }
         
        .fa-youtube {
            background: #131212;
            color: white;
        }  
        
        .fa-twitter {
            background: #131212;
            color: white;
        }
        </style>
    </head>
    <body>
        <footer>
            <img src="https://files.slack.com/files-pri/TNGRRLUMA-F01U6LB7CBB/herbal_remedy.png" alt="check" width="20%">
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-youtube"></a>
            <a href="https://github.com/crud-301/herbal-remedy.git" class="fa fa-github"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <h2>A group of students at LTUC College on the Programming Development Scholarship, offered by the Qudra 2 program</h2>
            Copyright &copy  Trademark by crud-301 All rights reserved
        </footer>
</body>
</html>