<div id="logo-div">
    <h2>HERB <span>REMEDY</span></h2>
    <a href="/"><img src="../../img/plant.png" width="100px" height="50px"></a>
</div>
<nav>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a id="search-nav" href="/search">SEARCH</a></li>
        <li><a href="../about">ABOUT</a></li>
        <li><a href="/herps/api">API</a></li>
    </ul>
</nav>
