<div id="img-div">
    <a href="/"><img src="../../img/logo.png" width="100px" height="50px"></a>
</div>
<nav>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a id="search-nav" href="/search">SEARCH</a></li>
        <li><a href="../about">ABOUT</a></li>
        <li><a href="/herps/api">API</a></li>
    </ul>
</nav>