
<nav>
   <ul>
       <li><a href="/">Home</a></li>
       <li><a href="/searches/Search">Search</a></li>
       <li><a href="/searches/about">About</a></li>
       <li><a href="">API</a></li>


       
   </ul>
    
</nav>